{% for comment in comments %}
<div class="comment clearfix">
	<div class="comment-avatar">
		<img src="{{ comment.commentator.generate_avatar(size=50) }}" alt="avatar">
	</div>
	<div class="comment-author">
		<a href="{{ url_for('main.profile', username=comment.commentator.username) }}">
			{{ comment.commentator.username }}
		</a>
	</div>
	<div class="comment-timestamp">
		<span>{{ moment(comment.timestamp).fromNow() }}</span>
	</div>
	<div class="comment-body">
		{% if comment.disabled %}
			<p>Your comment has been disabled.</p>
		{% else %}
			{% if comment.body_html %}
				{{ comment.body_html | safe}}
			{% else %}
				{{ comment.body }}
			{% endif %}
		{% endif %}
	</div>
	{% if current_user.can(Permission.MODERATE_COMMENTS) %}
		<div class="comment-footer">
			{% if comment.disabled %}
				<a href="{{ url_for('main.moderate_comment', id=comment.id,
					page=page) }}"
					class="btn btn-default">Enable</a>
			{% else %}
				<a href="{{ url_for('main.moderate_comment', id=comment.id,
					page=page) }}"
					class="btn btn-danger">Disable</a>
			{% endif %}
		</div>
	{% endif %}
</div>
{% endfor %}