<ul>
{% for post in posts %}
<li class="post clearfix">
	<div class="avatar">
		<img src="{{ post.author.generate_avatar(size=100) }}" alt="">
	</div>
	<div class="post-content">
		<p class="post-author">
			<a href="{{ url_for('main.user_profile', username=post.author.username) }}">
			{{ post.author.username }}</a>
		</p>
		<div class="post-body">
			{% if post.body_html %}
				{{ post.body_html | safe }}
			{% else %}
				{{ post.body }}
			{% endif %}
		</div>
		<p class="post-timestamp">{{ moment(post.timestamp).fromNow() }}</p>
		<div class="post-footer">
		{% if current_user == post.author or current_user.is_administrator %}
			<a href="{{ url_for('main.edit_post', id=post.id) }}">
				<span class="label label-info">Edit</span>
			</a>
		{% endif %}
		<a href="{{ url_for('.post_link',  id=post.id) }}#comments">
			<span class="label label-primary">
				{{ post.comments.count() }} Comments
			</span>
		</a>
		<a href="{{ url_for('main.post_link', id=post.id) }}" class="post-permalink">
			<span class="label label-default">Permalink</span>
		</a>
		</div>
	</div>
</li>
{% endfor %}
</ul>
