{% extends "base.html" %}
{% import "_pagination.html" as macro_pagination %}
{% block title_content %}Followers of {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Followers of {{ user.username }}</h1>
</div>
<table class="table">
	<tr>
		<th>User</th>
		<th>Since</th>
	</tr>
	{% for u in users %}
	<tr>
		<td>
			<a href="{{ url_for('main.user_profile', username=u.follower.username) }}">
			<img src="{{ u.follower.generate_avatar(size=25) }}">
			{{ u.follower.username }}
			</a>
		</td>
		<td>{{ moment(u.timestamp).format('MM/DD/YYYY') }}</td>
	</tr>
	{% endfor %}
</table>
{{ macro_pagination.pagination_widget(pagination, request.endpoint,
	username=user.username) }}
{% endblock %}