{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_pagination.html" as macro_pagination %}
{% block title_content %}
Welcome to flask world!
{% endblock %}

{% block page_content %}
	{% for message in get_flashed_messages() %}
			<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ message }}
	</div>
	{% endfor %}
	<div class="page-header">
		<h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}
		Stranger{% endif %}.</h1>
	{% if current_user.is_authenticated %}{{ wtf.quick_form(form) }}{% endif %}
	</div>
{% if current_user.is_authenticated %}
<div class="tab">
	<ul class="nav nav-tabs">
		<li role="presentation"{% if request.cookies.get('show_all') %} class="active"{% endif %}>
			<a href="{{ url_for('main.show_all') }}">All</a>
		</li>
		<li role="presentation"{% if not request.cookies.get('show_all') %} class="active"{% endif %}>
			<a href="{{ url_for('main.show_followed') }}">Followers</a>
		</li>
	</ul>
</div>
{% endif %}
{% include "_posts.html" %}
<div class="post-pagination">
{{ macro_pagination.pagination_widget(pagination, request.endpoint) }}
</div>
{% endblock %}
