{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_post.html" as macro_post %}
{% block title_content %}
Welcome to flask world!
{% endblock %}


{% block page_content %}
	{% for message in get_flashed_messages() %}
			<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ message }}
	</div>
	{% endfor %}
	<div class="page-header">
	</div>
	{% if current_user.is_athenticated %}{{ wtf.quick_form(form) }}{% endif %}
{{ macro_post.show_post(posts) }}
{% endblock %}
