{% extends "base.html" %}
{% import "_pagination.html" as macro %}
{% block title %}Flasky - {{ user.username }}'s profile{% endblock %}

{% block page_content %}
<div class="page-header clearfix">
	<div class="profile-avatar">
		<img src="{{ user.generate_avatar(size=300) }}" 
			alt="avatar" class="rounded">
	</div>
	<div class="profile">
		<h1 class="username">{{ user.username }}</h1>
		{% if user.is_administrator() %}
			<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
		{% endif %}
		{% if user.name %}
			<div class="profile-fullname">{{ user.name }}</div>
		{% endif %}
		{% if user.location %}
			<div class="profile-location">From 
				<a href="https://maps.google.com/?q={{ user.location }}">
				{{ user.location }}
				</a>
			</div>
		{% endif %}
		{% if user.about_me %}
			<div class="profile-about-me">
				{{ user.about_me }}
			</div>
		{% endif %}
		<div class="profile-time">
			Member since:{{ moment(user.member_since).format('MM/DD/YYYY') }}.
			Last seen {{ moment(user.last_seen).fromNow() }}
		</div>
		<div class="profile-posts-comments">
			<span>{{ user.posts.count() }} blog posts.</span>
			<span>{{ user.comments.count() }} comments.</span>
		</div>
		<div class="profile-follow">
			{% if current_user.is_authenticated and 
				current_user != user %}
				{% if current_user.is_following(user) %}
					<a href="{{ url_for('main.user_unfollow', username=user.username) }}"
						class="btn btn-info">
						Unfollow
					</a>
				{% else %}
					<a href="{{ url_for('main.user_follow', username=user.username) }}"
						class="btn btn-primary">
						Follow
					</a>
				{% endif %}
			{% endif %}
			<a href="{{ url_for('main.user_followers', username=user.username) }}">
				Followers:
			</a>
			<span class="badge">{{ user.followers.count() - 1 }}</span>
			<a href="{{ url_for('main.user_followed_by', username=user.username) }}">
				Fowllowing:
			</a>
			<span class="badge">{{ user.followeds.count() - 1 }}</span>
			{% if current_user.is_authenticated and current_user.is_followed_by(user) %}
			<span>| Following you</span>
			{% endif %}
		</div>
		<div>
		{% if current_user.is_authenticated and current_user == user %}
			<a href="{{ url_for('main.edit_profile', username=user.username) }}" class="btn btn-default">Edit profile</a>
		{% endif %}
		{% if current_user.can(Permission.ADMINISTRATOR) %}
		<a href="{{ url_for('main.admin_edit_profile', username=user.username) }}" 
			class="btn btn-danger">Edit profile[Admin]</a>
		{% endif %}
		</div>
	</div>
</div>
<div class="page-header">
	<h3>{{ user.username }}'s posts</h3>
</div>
<div class="user-profile-posts">
	{% include "_posts.html" %}
	{{ macro.page_widget(pagination, request.endpoint, username=user.username) }}
</div>
{% endblock %}