{% extends "base.html" %}
{% import "_pagination.html" as macro_pagination %}
{% block page_content %}
<div class="page-header clearfix">
	<div class="profile-avatar">
		<img src="{{ user.generate_avatar(size=280) }}" alt="avatar">
	</div>
	<h2>{{ user.username }}</h2>
	{% if current_user.is_administrator %}
	<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
	{% endif %}

	{% if user.name or user.location %}
	<p>
		{% if user.name %}{{ user.name }}{% endif %}
		{% if user.location %}
		From <a href="https://maps.google.com/?q={{ user.location }}">
			{{ user.location }}
		</a>
		{% endif %}
	</p>
	{% endif %}

	{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}

	<p>
		Member since {{ moment(user.member_since).format('L') }}.
		Last seen {{ moment(user.last_seen).fromNow() }}.
	</p>
	<p>{{ pagination.total }} blog posts.</p>
	<p>
	{% if current_user.is_authenticated and current_user != user %}
		{% if current_user.is_following(user) %}
			<a href="{{ url_for('main.unfollow_user', username=user.username) }}" class="btn btn-primary">Unfollow</a>
		{% else %}
			<a href="{{ url_for('main.follow_user', username=user.username) }}" class="btn btn-info">Follow</a>
		{% endif %}
	{% endif %}
	<a href="{{ url_for('main.user_followers', username=user.username) }}">
		Followers: <span class="badge">{{ user.followers.count() - 1 }}</span>
	</a>
	<a href="{{ url_for('main.user_following', username=user.username) }}">
	Following: <span class="badge">{{ user.followed.count() - 1 }}</span>
	{% if current_user.is_authenticated and user != current_user and
		current_user.is_followed_by(user) %}
	| Follows you
	{% endif %}
	</p>
	<p>
		{% if current_user.is_authenticated and current_user == user %}
			<a href="{{ url_for('main.edit_profile', username=current_user.username) }}" class="btn btn-default">
			Edit Profile
			</a>
		{% endif %}
		{% if current_user.is_administrator %}
			<a href="{{ url_for('main.edit_profile_admin', id=user.id) }}" class="btn btn-danger">
				Edit Profile [Admin]
			</a>
			{% endif %}
	</p>
</div>
<div class="page-header">
	<h3>Posts by {{ user.username }}</h3>
</div>
{% include "_posts.html" %}
<div class="profile-posts">
{{ macro_pagination.pagination_widget(pagination, request.endpoint,
	username=user.username) }}
</div>
{% endblock %}